
%section(name='timesheet')
  %h1 Timesheet:

  .clock-list
    - if @clocks.any?
      - each_day(@clocks) do |date, clocks|
        %h2= format_date(date)
        %ul
          - clocks.each do |clock|
            - if @irregular.include?(clock.id)
              %li.irregular-fix
                = clock_form(opposite_direction(clock.direction), clock.name) do |form|
                  irregularity: missing clock-#{direction_word(opposite_direction(clock.direction))} for #{clock.name}
                  = form.date_field 'when[date]', value: clock.when.to_date.iso8601
                  = form.time_field 'when[time]', value: clock.when.strftime('%H:%M')
                  = form.submit 'patch'

            %li{class: @irregular.include?(clock.id) ? 'irregular' : 'regular'}
              %span.delete
                = button_to '[delete]', url_for(clock), method: :delete
              %span.when= format_time(clock.when)
              = direction_bubble(clock.direction)
              %span.name<>
                = link_to clock.name, params: { scope: 'name', name: clock.name }
    - else
      .empty
        No clocks here!
