- content_for :head do
  %title Timesheet | Timekeeping

%section(name='controls')
  %h1 Timekeeping control panel: clock in or out

  .clock-controls
    - @latest.each do |clock|
      - name = clock.name

      %div(id="clock--#{name}" class="control currently-#{clock.direction_word}")
        = direction_bubble(clock.direction)

        %h2= name
        = clock_form(Clock::IN, name) do |form|
          = form.submit 'Clock in'
        = clock_form(Clock::OUT, name) do |form|
          = form.submit 'Clock out', class: 'direction-in'

        %span.status
          Last clocked #{clock.direction_word} on #{format_datetime(clock.when)}


    %h2 New user
    .control(id="clock-new")
      = clock_form(Clock::IN) do |form|
        %label(for='name') Name:
        %br/
        = form.text_field :name
        = form.submit 'Clock in new employee'
