@import colors


.direction
  display: inline-block
  width: 2em
  color: $palette-reverse-text
  padding: 5px
  border-radius: 3px
  text-align: center
.direction-in
  background-color: lighten($palette-highlight, 8%)
.direction-out
  background-color: darken($palette-highlight, 8%)

.clock-controls
  .clock-form
    display: inline

  .control
    margin-bottom: 10px

    h2
      display: inline-block
      font-weight: normal
      color: $palette-text
      font-size: 100%
      margin-right: 20px
      width: 3.5em
      padding-left: 1em

    &.currently-in .clock-in, &.currently-out .clock-out
      opacity: 50%
      &:active, &:hover
        opacity: 100%

.clock-list
  li
    list-style-type: none
    margin-bottom: 10px

    .name
      display: inline-block
      margin: 10px

    .when
      margin-right: 10px
      display: inline-block
      width: 4.5em
      text-align: right

    .delete
      input[type=submit]
        background-color: red
        opacity: 25%

        &:hover, &:active
          opacity: 100%

        &:active
          background-color: darken(#ff0000, 20%)

  li.irregular
    background-color: $palette-background
