@import colors

body
  padding: 0
  background-color: $palette-background
  color: $palette-text
  font-family: Helvetica

  h1, h2, a, .highlight
    color: $palette-highlight

  a, button, input[type=submit]
    &:hover
      background-color: lighten($palette-highlight, 15%)

    &:active
      background-color: darken($palette-highlight, 15%)

    &:disabled
      background-color: gray

  button, input[type=submit]
    background-color: $palette-highlight
    color: $palette-reverse-text
    border: none
    padding: 5px
    cursor: pointer
    font-size: 100%
    border-radius: 5px

  .container
    max-width: 800px
    margin: 0 auto

  section
    background-color: lighten($palette-accent, 10%)
    padding: 20px

  menu
    display: inline-block
    text-align: center
  menuitem
    margin: 10px
  .direction-in
    background-color: lighten($palette-highlight, 8%)
  .direction-out
    background-color: darken($palette-highlight, 8%)

  form.button_to
    display: inline
