!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = yield :head
  %body
    .container
      %menu
        %menuitem= link_to 'All dates', action: :index, params: { scope: 'all' }
        %menuitem= link_to 'Today', action: :index, params: { scope: 'today' }
        %menuitem= link_to 'Timekeeping', action: :new

      = yield
